#cluster-map {
    width: 100%;
    height: 500px;
}

body {
    min-height: 100vh;
    box-shadow: inset 0 0 20rem 0px #f58743b8;
}

#nav-top {
    box-shadow: 0 0 3rem 0px #ba5e11eb;
    background-color: #f5a90e7d;
    color: snow;
    font-weight: 700;
}

#map {
    width: 100%;
    height: 300px;
}

h1 {
    text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.801);
}

.searchbox {
    max-width: 50%;
    margin: auto;
}

#searchform {
    border: 0.2rem solid #eec492b8;
    border-radius: 30px;
}

#searchform:focus {
    border: 0.2rem solid #e2bb8adb;
    box-shadow: 0 0 3rem 0px #e1a36fd1;
}

#searchbtn {
    color: #393735c9;
    border: 0.2rem solid;
    border-color: #e1ae72b5;
    border-radius: 20px;
}

#searchbtn:hover {
    color: #393735c9;
    border: 0.2rem solid;
    border-color: #e1ae70;
    background-color: rgb(228 152 103 / 38%);
    border-radius: 20px;
}

.navbar-brand {
    font-family: 'Kaushan Script', cursive;
    font-size: 1.5rem;
}