<% layout('layouts/boilerplate') %>
    <div class="container" style="max-width: 50%;">
        <h1 style="text-align: center;">Login</h1>
        <form action="/login" method="post" class="validated-form mt-5" novalidate>
            <div>
                <label for="username" class="form-label">Username</label>
                <div class="input-group mb-3">
                    <input type="text" id="username" name="username" class="form-control" required autofocus>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
            </div>

            <div>
                <label for="password" class="form-label">Password</label>
                <div class="input-group mb-3">
                    <input type="password" id="password" name="password" class="form-control" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
            </div>
            <button class="btn btn-success">Login</button>
        </form>
    </div>